@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    @apply h-full;
    --font-size: 16px
}

#app {
    font-size: 16px;
}

#viewer {
    font-size: 14px;
}

.bg-dropzone:hover {
    background: linear-gradient(white, white) padding-box, linear-gradient(to top right, var(--tw-gradient-stops)) border-box;
}
